.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  height: 1.5em;
  font-size: 0.80em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgb(255, 255, 255);
  margin: 0.5em;
  user-select: none;
 }
 
 .activeCard {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
 }
 body{ 
  background-color: seashell;
  font-size: 40px;
  font-family: 'Chonburi';
 }

 h1{
   font-size: 60px;
   text-align: center;
   margin-bottom: 10px;
   font-family: 'Chonburi';
 }

 h2{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}

 p1{

  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Chonburi';
}
p2{

  font-size: 40px;
  text-align: center;
  font-family: 'Chonburi';
}

